In [135]:
import pandas as pd
import numpy as np
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split

In [227]:
# Load data
name_data = pd.read_csv("data.csv")
name_data.head()

,Score,Name1Letter1Node1,Name1Letter2Node2,Name1Letter3Node3,Name1Letter4Node4,Name1Letter5Node5,Name1Letter6Node6,Name1Letter7Node7,Name1Letter8Node8,Name1Letter9Node9,...,Name2Letter1Node20,Name2Letter2Node21,Name2Letter3Node22,Name2Letter4Node23,Name2Letter5Node24,Name2Letter6Node25,Name2Letter7Node26,Name2Letter8Node27,Name2Letter9Node28,Name2Letter10Node29
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5.0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [228]:
# Divide data into X (input) and y (output) -- and make them arrays.
X = name_data.drop(columns=["Score"])
y = name_data["Score"]

In [244]:
clf = MLPRegressor(solver='sgd', alpha=0.00001, hidden_layer_sizes=(500,200), random_state=1, max_iter=2000000)

In [263]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

-1.0057776855018314

In [258]:
# To test a name on the model, paste it here from the function nameToBin.py
clf.predict([])

array([5.00843594])